@(blogPair: Option[(Blog, User)])
@import helper._
@import partials._

@blogFound(blog: Blog, poster: User) = {
    @main("Viewing blog") {
        @blogPartial(blog, poster)
     @*   <div>
        @blog.comments.map { comment =>
            <div>
            <h3>@comment.id</h3>
            @comment.content
            </div>
         }
        </div>*@
    }
}

@blogMissing = {
    @main("Error") {
        Blog not found
    }
}

@blogPair match {
    case Some((blog, poster)) => {
        @blogFound(blog, poster)
    }
    case _ => {
        @blogMissing
    }
}