@(blogPair: Option[(domain.Blog, domain.User, List[domain.Comment])])
@import helper._
@import partials._

@blogFound(blog: domain.Blog, poster: domain.User, comments: List[domain.Comment]) = {
    @main("Viewing blog") {
        @blogPartial(blog, poster)

        <div class="comments">
            @if(comments.nonEmpty) {
                    @comments.zipWithIndex.map { case (comment, index) =>
                        <div class="comment">
                            <div>Comment #@{index + 1}</div>
                            @comment.content
                        </div>
                    }
            } else {
                No comments available.
            }
        </div>

    }
}

@blogMissing = {
    @main("Error") {
        Blog not found
    }
}

@blogPair match {
    case Some((blog, poster, comments)) => {
        @blogFound(blog, poster, comments)
    }
    case _ => {
        @blogMissing
    }
}